@font-face {
    font-family: "FZYouMaoZaiK";
    src: url("FZYouMaoZaiK.eot"); /* IE9 */
    src: url("FZYouMaoZaiK.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("FZYouMaoZaiK.woff") format("woff"), /* chrome、firefox */
    url("FZYouMaoZaiK.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("FZYouMaoZaiK.svg#FZYouMaoZaiK") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


